@import "../global/sass/variables";
@import "../global/sass/mixins";

footer {
    background-color: $main-color;
    color: #ffffff;
    padding-top: 60px;
    text-align: center;
    .row {
        text-align: start;
    }
    .input {
        input {
            padding: 10px 20px;
            border-radius: 10px;
            &:focus {
                outline: 0;
            }
        }
        button {
            @include sign-up-btn;
            background-color: transparent;
            color: #fff;
            transition: 0.3s;
            padding: 10px 20px;
            &:hover {
                color: #000;
            }
        }
    }
    ul {
        margin: 15px 0 0 0;
        padding: 0;
        li {
            cursor: pointer;
        }
    }
    .end {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
        a {
            color: #fff;
            text-decoration: 0;
        }
        span {
            font-size: 10px;
        }
        .icons {
            i {
                cursor: pointer;
            }
            i:not(:first-child) {
                margin-left: 15px;
            }
        }
    }
}

// Media
@media screen and (max-width: $md-screen) {
    footer {
        .row {
            text-align: center;
            div:not(:first-child) {
                h2 {
                    margin-top: 30px;
                }
            }
        }
    }
}
// Media